body {
    margin: 0;
    font-family: 'Helvetiva Neue', Helvatica, sans-serif;
}

p {
    color: #707070;
}

.flat-bottom {
    margin-bottom: 0px;
}

.flat-top {
    margin-top: 0px;
}

.flex-columns {
    display: flex;
    align-items: center;
}

.header {
    height: 5em;
    width: 100%;
    background-color: #CBE4F3;
    border-bottom: #707070;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.navbar {
    height: 2.5em;
    width: 100%;
    background-color: #F4F4F4;

    justify-content: space-evenly;

    border-bottom: #707070;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: 2px 1px lightgrey;
}

.navbar > p > a {
    color: #707070;
    font-weight: bold;
    text-decoration: none;
}

.header-icon {
    height: 4em;
    width: 4em;
    padding-left: 0.5em;
}

.titles {
    padding-left: 1em;
}

.column-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2.5em;
    padding-left: 2.5em;
}

.forecast-period {
    width: 100%;
}

.forecast-period > h2 {
    color: #707070;
    font-size: 1.25em;
    margin-bottom: 0px;
}

.forecast-icon {
    height: 7em;
    width: 7em;
    padding-right: 1em;
}

#noaa-title {
    font-weight: 300;
    color: #707070;
}

#search-icon {
    height: 2.5em;
    width: 2.5em;
    margin-left: auto;
    padding-right: 0.5em;
}

#current-condition-icon {
    height: 10em;
    width: 10em;
}

#forecast-body {
    padding-left: 1em;
    padding-right: 1em;
}

#current-temps {
    padding-left: 1em;
}

#radar-map {
    height: 20em;
    width: 20em;
}

@media only screen and (min-width: 700px) {
    #forecast-body {
        display: grid;
        grid-template-columns: 40% 1fr;
    }

    .column-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1em;
        padding-left: 1em;
    }
}
